header{background-image: url(../img/GitHub.png);
        background-size: cover;
        height: 400px;}

#teams img{width: 500px;
                height: 500px;}

.cs{margin-top: 20px;
        width: 60%;}

